<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/pure/pure.css">
    <script src="/resources/vue.js"></script>
    <script src="/resources/lodash.js"></script>
    <!--<script src="/resources/zepto.js"></script>-->
    <script src="/resources/alchemy/scripts/vendor.js"></script>
    <script src="/resources/alchemy/alchemy.js"></script>

    <link rel="stylesheet" href="/resources/alchemy/alchemy-white.css"/>
    <link rel="stylesheet" href="/css/page.css">

    <script src="/entity-detail.js"></script>
        <script src="/app.js"></script>
  </head>
  <body style="position:relative; width:100%">
    <div class="header">
        <h1 style="font-family: 'Dosis'; font-size: 20px; font-weight: 500;padding:0; margin:0;">Linked Festival App</h1>
    </div>
  <div id="Selector" class="sidebar">
 <form class="pure-form">
     <fieldset>
         <legend>Legend</legend>
         <ul class="legend"><label v-for="type in types">
             <!--<li v-bind:class="type">{{type}}</li></label>-->
             <li v-bind:class="type.label"><input type="checkbox" v-bind:value="type.value" v-model="checkedType"/>{{type.label}}</li></label>
         </ul>
     </fieldset>
 
     <fieldset>
        <legend>Your selection</legend>
        <ul class="selector"><label v-for="item in items">
            <li v-bind:class="{'selector-item': true, 'active': checked.includes(item.value)}"><input type="checkbox" v-bind:value="item.value" v-model="checked" />{{item.label}}</li></label>
        </ul>
        <span>{{checked}}</span>


        <!-- <button type="submit" class="pure-button pure-button-primary">Find</button> -->
    </fieldset>
</form>
  </div>

<!-- <button class="pure-button pure-button-primary" onclick="preparedSparql(document.getElementById('artist').value, document.getElementById('type').value)">Results</button> -->

  <div class="alchemy" id="alchemy"></div>

  <div class="detailbar" id="Details">
    <entity-detail uri="http://uri"></entity-detail>
  </div>

  <link href="//fonts.googleapis.com/css?family=Dosis:500" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono" rel="stylesheet" type="text/css">
  </body>
</html>
