.sidebar {
    background: #f2f2f0;
    width:300px;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    overflow: scroll;
}
ul.selector {
    font-family: "Source Sans Pro"
    font-size: 1.2em;
    list-style: none;
    padding:0;
}
li.selector-item {
    padding: 0.8em;
    background: #f2f2f0;
}
li.selector-item input {
    margin-right: 0.4em;
}
li.selector-item.active {
    background: #fd9;
}
.alchemy {
  position:relative;
  margin-left:300px;
}
.artist text {
    display: block;
    font-size: 15px;
    fill: #14F787;
}


.edge text {
    display: block;
    font-size: 11px;
    stroke: none !important
}

.genre circle {
    fill: #6C7EBD !important;
    stroke: #6C7EBD !important
}
.genre text {
    display: block;
    font-size: 10px;
}

.label circle {
    fill: #FFFD85 !important;
    stroke: #FFFD85 !important
}
.label text {
    display: block;
    font-size: 10px;
}

.activeYearsStartYear circle {
    fill: #FFAC70 !important;
    stroke: #FFAC70 !important
}
.activeYearsStartYear text {
    display: block;
    font-size: 10px;
}

.birthDate circle {
    fill: #E35252 !important;
    stroke: #E35252 !important
}
.birthDate text {
    display: block;
    font-size: 10px;
}

.origin circle {
    fill: #c112bf !important;
    stroke: #c112bf !important
}
.origin text {
    display: block;
    font-size: 10px;
}